<div class="jumbotron text-center">
    <h1>MEAN App</h1>
    <p class="lead">Basic login and register app</p>
    <div>
        <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
        <a class="btn btn-default" [routerLink]="['/login']">Login</a>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>1</h3>
        <p>1</p>
    </div>
    <div class="col-md-4">
        <h3>2</h3>
        <p>2</p>
    </div>
    <div class="col-md-4">
        <h3>3</h3>
        <p>3</p>
    </div>
</div>